<body>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
  
        <h1>TicTacToe</h1>
        <hr>
        <div class="grid-game">
          <div class="row">
            <div class="col-9" [ngStyle]="{'font-weight': 'bold'}">Player's turn : {{activePlayer}}</div>
            <button mat-raised-button color="basic" class="col-3" (click)="restart()">Restart</button>
          </div>
          <hr>
          <div class="row">
            <app-case class="col-4" *ngFor="let case of cases" [case]="case" (click)="setSymbol(case)"></app-case>
          </div>
        </div>
        <h1>Angular 8 Toastr Notifications Example - ItSolutionStuff.com</h1>

  

<button (click)="showToasterSuccess()">

    Success Toaster

</button>

  

<button (click)="showToasterError()">

    Error Toaster

</button>

  

<button (click)="showToasterInfo()">

    Info Toaster

</button>

  

<button (click)="showToasterWarning()">

    Warning Toaster

</button>
  
      </div>
    </div>
  </div>

</body>